/* CSS declarations go here */
/*#ex1Slider .slider-selection {*/
/*	background: #BABABA;*/
/*}*/

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

body{
    color:#fff;
    background-color:#000;
}

#slide{
    width: 50%;


}
#keyInput{
    margin : 10px;
}

.Center-Container {
  position: relative;
}

.Absolute-Center {
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}