/* CSS declarations go here */
/*#ex1Slider .slider-selection {*/
/*	background: #BABABA;*/
/*}*/

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

body{
    color:#fff;
    background-color:#000;
}

#slide{
    width: 10%;
    -webkit-appearance: slider-vertical;


}

#form-control{
    width: 10px;
}
#keyInp{
    margin : 10px;
    
}
.button{
    background-color: #fff;
    border-radius : 5px;
    display : inline-block;
    color : black;
    padding : 10;
}
#buttons{
    /*position : absolute;
    op : 250;
    left : 250;*/

    padding : 10;
    background-color: #000;
    border-radius: 5px;
    display: inline;

}

label{
   color: black;
}

.Center-Container {
  position: relative;
}

.Absolute-Center {
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

input{color:#000;}

.center
{
margin-left:auto;
margin-right:auto;
width:70%;
}